*{
    box-sizing: border-box;
}
h2{
    font-family: 'Orbitron', sans-serif;
}
h1 {
    font-family: 'Nova Oval', cursive;
font-family: 'Orbitron', sans-serif;
color: #213363;
}
.hr {
border: 5px solid black;}
p {
    text-align: center;
    font-weight: bold;
    font-size:medium
}

article {
    font-family: 'Roboto Mono', monospace;
    font-size: medium;
}
i {
    color: #213363;
    margin: 3%;
}
a:hover {
    text-decoration: none;
}
.one {display: flex;
margin-top: 8%;
background-color: #DDE6ED;
text-align: center;
}
.part1 {
    margin-top: 17%;
    width: 50%;
}
.part2 {
    width: 35%;
}
.wwww {
    padding-top: 6%;
    padding-bottom: 13%;
}
.secound {
        color: black;
        font-family: 'Luckiest Guy', cursive;
        font-size: x-large;
}


.container-fluid {
    margin-left: 4%;
}
li {
    font-size:small;
    font-weight:bold;
    text-align: center;
    padding: 25px 34px;
    
}
.navbar {
background-color:#213363 ;
position: fixed;
top:0 ;
z-index: 30000;
width: 73%;
}
a {
color: white;
}
li:hover{
    font-weight: bold;
    font-size: larger;
}

.mainone{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: xx-large;
    color: #213363;
    margin-top: 3%;

}

.Qualification2 {
    display: flex;
}
.quaa {
    width: 60%;
    height: 50%;
    border-radius: 50%;
}
.edu1 {
    border: 1px solid black;
    margin: 3%;
    padding:1%;
    text-align: center;
    width: 45%;
}
#PROJECTS {
    padding: 1% 0;
    background-color: #DDE6ED;
}

.oooo {
    padding-top: 15%;
    color: black;
    font-size:x-large;
    font-family: 'Orbitron', sans-serif;


}
.PROJECTS2{
    display: flex;
}

.projo {
    width: 50%;
    height: 60%;
}
.EXPERIENCE2 {
    display: flex;
flex-direction: column;}
.exp1 {
border: 1px solid black;
padding: 1% 0;
margin: 2%;
text-align: center;
}

footer {
    text-align: center;
    background-color: #213363;
    padding-bottom: 60px;
    color: white;
}
.pppm {
    display: inline-block;
    font-size: small;
}
.pppml {
    font-size: small;
}
.rrr {
    color: black;
}
.maryana {
    border: 3px solid white;
}
.oi {
    border: 1px solid #213363;
}
button :hover {
    color: white;
}

@media (max-width:570px) {
.navbar{width: auto;}
.quaa {display: none;}
.wwww {display: none;}
p{font-size: xx-small;}
article{font-size: x-small;
font-family: 'Times New Roman', Times, serif;}
h2{font-size:small;
font-family: 'Times New Roman', Times, serif;}
.oooo{font-size: small;
font-family: 'Times New Roman', Times, serif;}
}

@media (min-width:571px) and (max-width:993px) {
    .navbar{width: auto;}

    .wwww{width: 90%;
    height:80% ;}
    article{font-size: small;
        font-family: 'Times New Roman', Times, serif;}
        h2{font-size:small;
            font-family: 'Times New Roman', Times, serif;}
            .oooo{font-size: large;
                font-family: 'Times New Roman', Times, serif;}
}
@media (min-width:994px) {
.navbar {width: 100%;}
}
@media (min-width:1250px) {
.navbar {width: 80%;}
}
@media (min-width:1441px) {
.navbar {width: 73%;}
}
